.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 88, 68);
}

.column {
  width: 200px;
  display: table-cell;
  border: 1px solid #cccaca;

  text-align: center;
  margin: 2px 0;
  background-color: rgb(219, 247, 228);
}
